
  
.accent {
    position: absolute;
    background: 
        linear-gradient(25deg, #0000 27%, hsl(34, 57%, 50%) 27.5%, burlywood 71.5%, #0000 72%) 10% 50% / 44% 80% no-repeat,
        linear-gradient(-25deg, #0000 27%, hsl(34, 57%, 50%) 27.5%, burlywood 71.5%, #0000 72%) 90% 50% / 44% 80% no-repeat,
        linear-gradient(-45deg, #0000 10%, hsl(34, 57%, 50%) 11%, burlywood 89%, #0000 90%) 2% 22% / 3.4% 57% no-repeat,
        linear-gradient(45deg, #0000 10%, hsl(34, 57%, 50%) 11%, burlywood 89%, #0000 90%) 98.2% 22% / 3.4% 57% no-repeat,
        linear-gradient(25deg, #0000 27%, #000c 27.5% 71.5%, #0000 72%) 5% 85% / 50% 80% no-repeat,
        linear-gradient(-25deg, #0000 27%, #000c 27.5% 71.5%, #0000 72%) 95% 85% / 50% 80% no-repeat,
        linear-gradient(25deg, #0000 25%, brown 25.5% 69.5%, #0000 70%) 0% 90% / 50% 90% no-repeat,
        linear-gradient(-25deg, #0000 25%, brown 25.5% 69.5%, #0000 70%) 100% 90% / 50% 90% no-repeat,
        radial-gradient(100% 100% at 50% 0, brown 50%, #0000 55%) 50% 100.5% / 10% 5% no-repeat;
    width: 200px;
    aspect-ratio: 3 / 2;
    overflow: visible;
}

.accent::before {
    display: block;
    position: absolute;
    content: var(--accent-content);
    font-size: 1.6vh;
    color: brown;
    top: 25%;
    width: 53%;
    height: 68%;
    background: white;
    transform-origin: -1% 50%;
    background: 
        linear-gradient(to top, hsl(34, 57%, 50%), burlywood);
    transform: translateX(95%) translateY(9.7%) rotateX(45deg) rotateY(-145deg);
    animation: turnThePage 2s ease infinite reverse;
    animation-play-state: paused;
}

.accent:hover::before {
    animation-play-state: running;
}

.accent::after {
    transform: translateX(95%) translateY(9.7%) rotateX(45deg) rotateY(-35deg);
}

@keyframes turnThePage {
    from { transform: translateX(95%) translateY(9.7%) rotateX(45deg) rotateY(-145deg) }
    to { transform: translateX(95%) translateY(9.7%) rotateX(45deg) rotateY(-35deg) }
}
  
  
  