.controls > *,
.skin-change > div {
    background-color: var(--gold);
    background: linear-gradient(to right,var(--gold) 25%,var(--bright-gold) 60%,var(--gold) 85%); 

    color: var(--dark-gold);
    text-align: center;
    font-family: monospace;
    font-weight: 900;

    box-shadow: 0 0 .6vh 0 black,
    -.5vh 0 .8vh 0 var(--bright-gold) inset;
}



.d-pad {
    margin-top: 6vh;

    border-top-left-radius: 3.5vh;
    border-top-right-radius: 3.5vh;
    border-bottom-right-radius: 5vh 100%;
    border-bottom-left-radius: 5vh 100%;

    transform-origin: 50% 40%;

    line-height: 9.5vh;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10vh;
}

.up {
    box-shadow: 0 0 .6vh 0 black,
        1vh 1vh .5vh .1vh inset var(--bright-gold-trans), 
        0 0 0 .8vh inset var(--dark-gold-trans);
}

.right {
    box-shadow: 0 0 .6vh 0 black,
    1vh -1vh .5vh .1vh inset var(--bright-gold-trans), 
    0 0 0 .8vh inset var(--dark-gold-trans);
}

.down {
    box-shadow: 0 0 .6vh 0 black,
        -1vh -1vh .5vh .1vh inset var(--bright-gold-trans), 
        0 0 0 .8vh inset var(--dark-gold-trans);
}

.left {
    box-shadow: 0 0 .6vh 0 black,
        -1vh 1vh .5vh .1vh inset var(--bright-gold-trans), 
        0 0 0 .8vh inset var(--dark-gold-trans);
}

.d-pad:active,
.d-pad:focus {
    box-shadow: 0 0 .6vh 0 black,
    0 0 0 .9vh inset var(--dark-gold-trans);
    font-size: 9.5vh;
}

.big-button {
    /*box-shadow: 0 0 .6vh 0 black,
        1vh 1vh .5vh .1vh inset var(--bright-gold-trans), 
        0 0 0 .8vh inset var(--dark-gold-trans);*/

    line-height: 7vh;
    font-size: 5.5vh;
}
.big-button:active {
    /* font-size: 5.3vh; */
}
.A {
    width:  6vh;
    height: 6vh;
    position: absolute;
    right: 50vh;
    top: 20vh;
    box-shadow: 0 0 .6vh 0 orange;
    /*background: conic-gradient(#c32e04 22deg, #df6c20 0 67deg, #dfac20 0 112deg, #8db243 0 157deg, hsl(85, 100%, 30%)  0 202deg, #306f91 0 247deg, #9357b9  0 292deg, #660033 0 337deg,#c32e04 0);
    /*background: conic-gradient(from 0.25turn at 20% 50%, #dfac20, 10deg, #306f91, 350deg, #e6f2f7);*/
    background: radial-gradient(yellow 25%, transparent 40%),repeating-conic-gradient(
    yellow 0deg,
    orange 30deg,
    yellow 60deg);
    font-size: 2vh;
}
.A:active {
    position: absolute;
    right: 50vh;
    box-shadow: 0 0 .6vh 0 rgb(245, 245, 116),
    0 0 0 2vh inset rgb(245, 245, 116);
    font-size: 3vh;
}
.B {
    width:  6vh;
    height: 6vh;
    background: white;
    color: transparent;
    font-size: 2vh;
    overflow: hidden;
}

.B::after, .B::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.B::after {
    content: "Q";
    color: white;
    text-shadow: 0 0 .5em black;
    background: transparent;
    z-index: 2;
}

.B::before {
    transform: translate(-15%, -15%);
    background: #000;
    border-radius: 50%;
    box-shadow: 0 0 10px 5px #000;
    transition: transform 1s ease;
    z-index: 1;
}

.B:active::before {
    transform: translate(-50%, -20%);
}
.reset {
    border-top: .5vh solid var(--gold);
    border-right: .5vh solid var(--dark-gold);
    border-bottom: .5vh solid var(--gold);
    border-left: .5vh solid var(--bright-gold);
 
    font-size: 2.3vh;
}



.reset:active {
    font-size: 2.2vh;
}

.skin-change > div {
    width: 4vh;
    margin-right: 1vh;

    border-top: .5vh solid var(--gold);
    border-right: .5vh solid var(--dark-gold);
    border-bottom: .5vh solid var(--gold);
    border-left: .5vh solid var(--bright-gold);

    text-align: center;
    font-size: 1.8vh;
    line-height: 2vh;
}


.reset:active,
.skin-change > div:active {
    border-top: .5vh solid var(--dark-gold);
    border-right: .5vh solid var(--darkest-gold);
    border-bottom: .5vh solid var(--dark-gold);
    border-left: .5vh solid var(--gold);
}
