.controls > *,
.stat-change > div {
    background-color: var(--blue);
    background: linear-gradient(to right,var(--blue) 25%,var(--bright-blue) 60%,var(--blue) 85%); 

    color: var(--dark-blue);
    text-align: center;
    font-family: monospace;
    font-weight: 900;

    box-shadow: 0 0 .6vh 0 black,
    -.5vh 0 .8vh 0 var(--bright-blue) inset;
}

.big-button {
    line-height: 25px;
    font-size: 15px;
    overflow: hidden;
    text-align: center;
}

.A {
    width:  6vh;
    height: 6vh;
    position: absolute;
    right: 50vh;
    top: 20vh;
    box-shadow: 0 0 .6vh 0 orange;
    background: radial-gradient(yellow 25%, transparent 40%),repeating-conic-gradient(
    yellow 0deg,
    orange 30deg,
    yellow 60deg);
}
.A:active {
    position: absolute;
    right: 50vh;
    box-shadow: 0 0 .6vh 0 rgb(245, 245, 116),
    0 0 0 2vh inset rgb(245, 245, 116);
}
.B {
    width:  6vh;
    height: 6vh;
    background: white;
    color: transparent;
    font-size: 2vh;
}

.B::after, .B::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.B::after {
    content: "Manual";
    color: white;
    text-shadow: 0 0 .5em black;
    background: transparent;
    z-index: 2;
    line-height: 45px;
    font-size: 15px;
    overflow: hidden;
    text-align: center;
}

.B::before {
    transform: translate(-15%, -15%);
    background: #000;
    border-radius: 50%;
    box-shadow: 0 0 10px 5px #000;
    transition: transform 1s ease;
    z-index: 1;
}

.B:active::before {
    transform: translate(-50%, -20%);
}

.reset {
    border-top: .5vh solid var(--blue);
    border-right: .5vh solid var(--dark-blue);
    border-bottom: .5vh solid var(--blue);
    border-left: .5vh solid var(--bright-blue);
 
    font-size: 2.3vh;
}

.reset:active {
    font-size: 2vh;
}

.stat-change > div {
    width: 4vh;
    margin-right: 1vh;

    border-top: .5vh solid var(--blue);
    border-right: .5vh solid var(--dark-blue);
    border-bottom: .5vh solid var(--blue);
    border-left: .5vh solid var(--bright-blue);

    text-align: center;
    font-size: 1.8vh;
    line-height: 2vh;
}

.reset:active,
.stat-change > div:active {
    border-top: .5vh solid var(--dark-blue);
    border-right: .5vh solid var(--darkest-blue);
    border-bottom: .5vh solid var(--dark-blue);
    border-left: .5vh solid var(--blue);
}
